/* font-family: 'Cookie', cursive; */
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap');

.top-nav {
    background-color: #ACD0B6;
    padding: 16px;
    display: flex;
    justify-content: center;
}

body {
    background-image: url('assets/bg.png');
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.tittle, .text-box, .button-send {
    margin: 15px 0px 15px 0px;
}

.text-box, .button-send {
    font-family: 'Open Sans', cursive;
    border: 0px;
    border-radius: 6px;
}

.tittle {
    font-family: 'Cookie', cursive;
    font-size: 71px;
    font-weight: 100;
    color: #EDF5D3;
    text-align: center;
}

.text-box {
    font-size: 18px;
    padding: 16px;
    resize: none;
    text-decoration: none;
    color: #345157;
    box-sizing: border-box;
}

.text-box::placeholder {
    opacity: 0.6;
}

.button-send {  
    --shadowbox: 0px 8px 0px 0px #4A8878;
    font-weight: bold;
    font-size: 22px;
    background-color: #71A397;
    color: white;
    padding: 12px;
    -webkit-box-shadow: var(--shadowbox);
    -moz-box-shadow: var(--shadowbox);
    box-shadow: var(--shadowbox);
    cursor: pointer;
    transition: 0.2s;
}

.button-send:hover {
	background-color: #669689;
}

.button-send:active {
    position: relative;
    top: 2px;
}

.form-message {
    display: flex;
    flex-direction: column;
}

.form-container {
    width: 420px;
    margin: 100px auto;
}

